<app-header></app-header>

<!-- Note Taker Component -->
<mat-expansion-panel class="keep-c-note-taker-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Take a Note
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="keep-c-note-taker-form">
    <mat-form-field>
      <input matInput [(ngModel)]="note.title" placeholder="Title" type="text">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="note.body" id="text" placeholder="Text"></textarea>
    </mat-form-field>
    <div class="keep-c-done-btn-wrapper">
      <button mat-button (click)="takeNote()">Done</button>
    </div>
  </div>
</mat-expansion-panel>

<div class="keep-c-note-container">
  <app-note-card *ngFor="let note of notes" [note]="note"></app-note-card>
</div>
